{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/test-gap.css') }}" type="text/css" media="all" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ getJavascripts() }}
    <script>
        var _locale = "{{ app.request.locale }}";
    </script>


    {#    Configuracion de assetic de bundles que son opcionales. Descomentar si es requeido#}

    {#    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}
    {#    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>#}
    {#    <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ app.request.locale }}"></script>#}
    {{ getJavascripts() }}
{% endblock %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
        <img src="/img/gap.jpg"  alt="{{ admin_pool.title }}">
        {{ admin_pool.title }}
    </a>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">This is an footer example. I made it for the GAP Test</p>
        </div>
    </footer>
{% endblock %}